<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
  }
</style>

<div ng-init="vm.init()">
  <div
    class="container"
    style="overflow-y: auto; overflow-x: hidden; height: 425px"
  >
    <form>
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">{{vm.tituloTela}}</h5>
      </div>
      <!-- Nome -->
      <div class="form-group">
        <label for="nomePerfil">Nome:</label>
        <input
          type="nome"
          class="form-control"
          id="nomePerfil"
          ng-model="vm.perfil.nome"
          placeholder="Digite o nome do perfil ..."
        />
      </div>
      <!-- Descrição -->
      <div class="form-group">
        <label for="descricaoPerfil">Descrição</label>        
        <textarea
          
          type="text"
          class="form-control"
          id="descricaoPerfil"
          ng-model="vm.perfil.descricao"
          placeholder="Descrição...">
        </textarea>
      </div>
      <!-- Datas -->
       <div class="row" style="padding-left: 15px;" ng-if="vm.isEdicao"> 
        <div class="form-group">
          <label for="dataHoraInclusao" style="width: 250px;"
            >Data de Inclusao</label
          >
          <input
            type="text"
            class="form-control"
            id="dataHoraInclusao"
            ng-model="vm.dataHoraInclusaoTela"
            ui-mask="99/99/9999"
            disabled
            style="width: 120px;"
          />
        </div>
      
        <div class="form-group">
          <label for="dataHoraAlteracao" style="width: 250px;"
          >Data de Alteracao</label>
          <input
            type="text"
            class="form-control"
            id="dataHoraAlteracao"
            ng-model="vm.dataHoraAlteracaoTela"
            ui-mask="99/99/9999"
            disabled
            style="width: 120px;"
          />
        </div>
       </div>
      
    </form>
  </div>
  <!-- BOTÕES -->
  <div
    class="row"
    style="float: right; padding-top: 30px; padding-right: 20px;"
  >
    <button
      type="button"
      class="btn btn-primary btn-space"
      ng-click="vm.incluir(vm.perfil)"
    >Salvar
    </button>

    <button
     type="button"
      class="btn btn-danger"
      ng-click="vm.cancelar()">
    Cancelar</button>
  </div>
  </div>
</div>
